html {
	@apply antialiased box-border overflow-x-hidden;
	color-scheme: light;

	&, & .layout {
		@apply text-slate bg-cream-900;
	}

	&, & * {
		scrollbar-width: thin;
		& ::-webkit-scrollbar {
			width: .5rem;
			height: .5rem;
		}
	}
	& ::-webkit-scrollbar-corner {
		background: transparent;
	}

  scrollbar-color: var(--color-theme) transparent;
	-webkit-tap-highlight-color: var(--color-theme-o-20);
	& ::selection,
	& ::-webkit-scrollbar-thumb {
		@apply text-cream-900 bg-theme;
	}

	&.dark, &.dark .layout {
		@apply text-cream bg-slate-900;
		color-scheme: dark;

		& ::selection,
		& ::-webkit-scrollbar-thumb {
			@apply text-slate-900;
		}
	}
}
