:root {
	--slidev-theme-primary: #e84311;
}

html {
	scrollbar-width: thin;
	scrollbar-color: theme("colors.flamingo.DEFAULT") transparent;
	-webkit-tap-highlight-color: theme("colors.flamingo.o-20");
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

::selection,
::-webkit-scrollbar-thumb {
	color: theme("colors.cream.900");
	background: theme("colors.flamingo.DEFAULT");
}

.CodeMirror.CodeMirror-wrap {
	overflow: hidden;
}

.slidev-layout {
	@apply px-10 py-10 h-full relative;

	pre,
	code {
		@apply select-text;
	}

	ul {
		list-style: square;
	}

	ol {
		list-style: decimal;
	}

	li {
		@apply ml-1.1em pl-0.2em leading-1.8em;
	}

	blockquote {
		@apply text-sm px-2 py-1 bg-cream text-slate dark:(bg-slate text-cream) border-flamingo border-l-2;
	}

	table {
		@apply w-full;
	}

	tr {
		@apply border-b border-slate dark:(border-cream) border-opacity-20;
	}

	th {
		@apply text-left font-400;
	}

	td,
	th {
		@apply p-2 py-3;
	}
}
