@import "prism-theme-vars/base.css";
@import "codemirror-theme-vars/base.css";
@import "prism-theme-vars/to-codemirror.css";

:root {
	--prism-font-family: var(--slidev-code-font-family);

	--prism-comment: #806b6b;
	--prism-builtin: #7c8ec4;
	--prism-deleted: #cd7286;
	--prism-boolean: #cd7286;
	--prism-number: #cd7286;
	--prism-regex: #cd7286;
	--prism-keyword: #e84311;
	--prism-variable: #e84311;
	--prism-property: #e84311;
	--prism-literal: #e84311;
	--prism-punctuation: #ffb005;
	--prism-string: #ffc419;
	--prism-constant: #9dc77b;
	--prism-function: #9dc77b;
	--prism-class: #9dc77b;
	--prism-namespace: #9dc77b;
	--prism-decorator: #9dc77b;
	--prism-json-property: #9dc77b;

	/* Extension */
	--prism-line-number: #806b6b;
	--prism-line-number-gutter: #fff7f7;
	--prism-line-highlight-background: #4a3d3d;
	--prism-selection-background: #4a3d3d;
}

html:not(.dark) {
	--prism-foreground: #fff7f7;
	--prism-background: #292222;
}

html.dark {
	--prism-foreground: #fff7f7;
	--prism-background: #1e1919;
}

pre[class*="language-"] {
	@apply p-2;
}

pre .line::before {
	color: var(--prism-line-number) !important;
}

:not(pre) > code {
	@apply font-light p-0.5 rounded;
	font-size: 0.8em;
	background: var(--prism-background);
	color: var(--prism-foreground);
}
